---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@use "sass:math";
@import "variables";

#sort-filter-container {
  border: 1px solid var(--input-border-color);
  border-radius: $input-border-radius;
}

#sort-filter-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing;
}

#sort-filter fieldset {
  padding: 0;
  margin: $spacing;
  display: flex;
  flex-direction: column;
  border: none;
}

@media screen and (min-width: $width-mobile) {
  #sort-filter {
    display: flex;
    align-items: center;

    fieldset {
      flex: auto;
    }
  }
}

.entry {
  margin-bottom: $spacing;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    a[href^="#"] {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .one-liner {
      margin-bottom: math.div($spacing, 4);
    }

    .poster {
      margin: 0 auto;

      a {
        display: block;
        margin-bottom: $spacing;
        align-self: center;

        img {
          min-width: 200px;
          width: 200px;
          height: auto;
        }
      }
    }

    .watched {
      font-size: $font-size-small;
      color: var(--text-color-faded);
      margin-bottom: math.div($spacing, 2);
    }

    .more-thoughts :last-child {
      margin-bottom: 0; // If text is longer than poster is tall, pushes the next entry too far down.
    }
  }
}

@media screen and (min-width: $width-mobile) {
  .entry {
    margin-bottom: 0;

    .title {
      justify-content: space-between;

      a[href^="#"] {
        display: initial;
        margin-left: auto;
        text-transform: uppercase;
        font-size: $font-size-small;
        margin-left: $spacing;
      }
    }

    .content {
      flex-direction: row;

      .text {
        margin-left: 1.5em;
      }

      .poster {
        align-self: initial;
        margin-left: initial;
        margin-right: initial;
      }

      .more-thoughts :last-child {
        margin-bottom: $spacing;
      }
    }
  }
}

.reveal-spoilers-on-hover .spoiler :not(.reveal-button) {
  // Click-button reveals should be immediate; only transition on hovers.
  transition: filter 200ms ease-in;
}

.spoiler {
  > :not(.reveal-button) {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
  }

  &.poster img {
    filter: blur(10px);
  }

  &.revealed > *,
  .reveal-spoilers-on-hover &:hover > *,
  &.revealed.poster img,
  .reveal-spoilers-on-hover &.poster img:hover {
    filter: none;
    pointer-events: initial;
    user-select: initial;
  }

  position: relative;

  .reveal-button {
    position: absolute;
    top: $spacing * 3;
    left: 50%;
    transform: translateX(-50%);
    padding: math.div($spacing, 2) $spacing;
    font-size: $font-size-large;
  }
}

a.permalink {
  text-decoration: none;

  // The rules below are copy-pasted from post.scss which is unfortunate but I don't really want
  // to pull this out to a mixin, especially because the way the hover rules are written is not
  // compatible with how they have to work here because of the nesting in the containing <a>.
  .underlineable {
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  &:not(:hover) .underlineable {
    text-decoration-color: var(--link-color-underline);
  }
}

.hidden {
  display: none;
}
