---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@import "variables";

.entry {
  margin-bottom: 1em;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    a[href^="#"] {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .poster {
      margin-bottom: 1em;
      align-self: center;
      min-width: 200px;
      width: 200px;
    }

    .watched {
      font-size: $font-size-small;
      color: var(--text-color-faded);
    }
  }
}

@media screen and (min-width: $width-mobile) {
  .entry {
    .title {
      justify-content: space-between;

      a[href^="#"] {
        display: initial;
        margin-left: auto;
        text-transform: uppercase;
        font-size: $font-size-small;
        margin-left: $spacing;
      }
    }

    .content {
      flex-direction: row;

      .text {
        margin-left: 1.5em;
      }

      .poster {
        align-self: initial;
        margin-bottom: initial;
      }
    }
  }
}

.spoiler {
  transition: filter 200ms ease-in;

  &:not(:hover) {
    filter: blur(5px);
  }
}

img.spoiler:not(:hover) {
  filter: blur(10px);
}

a.permalink {
  text-decoration: none;

  // The rules below are copy-pasted from post.scss which is unfortunate but I don't really want
  // to pull this out to a mixin, especially because the way the hover rules are written is not
  // compatible with how they have to work here because of the nesting in the containing <a>.
  .underlineable {
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  &:not(:hover) .underlineable {
    text-decoration-color: var(--link-color-underline);
  }
}
