---
# including front matter = "please compile this Jekyll"
---

@import "variables";

.juxtapose {
  position: relative;
  z-index: 0; // force new stacking context to keep z-indices from leaking out
}

.jx-knightlab {
  display: none !important;
}
