---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@import "variables";

.seven-segment {
  &[data-inline] {
    display: inline;
    height: 1em;
    line-height: 1em;
    vertical-align: bottom;
    margin: 0 -0.25em 0.25em;
  }

  polygon {
    fill-rule: evenodd;
    stroke-width: 0.25;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: none;
  }

  @each $segment in a, b, c, d, e, f, g {
    &[data-segments*="#{$segment}"] {
      polygon.#{$segment} {
        stroke: black;
        fill: #dc322f; // var(--sol-red), but I don't want to couple this to the site theme
      }
    }
  }
}
