<hr />
{% if page.changelog %}
  <section class="changelog" markdown="1">
    {% for entry in page.changelog %}
_Updated {{ entry[0] }}: {{ entry[1] }}_
    {% endfor %}
  </section>
<hr />
{% endif %}
<section class="next-previous">
  {% if page.previous %}
  <a
    href="{{ page.previous.url }}"
    class="next-previous-link next-previous-previous"
    title="Previous Post: {{ page.previous.title }}"
  >
    <span class="next-previous-icon">←</span>
    <div class="next-previous-name">
      <div class="next-previous-label">
        <span class="next-previous-icon">←</span> Previous Post
      </div>
      <div class="next-previous-title">{{ page.previous.title }}</div>
    </div>
  </a>
  {% else %}
  <div class="next-previous-placeholder"></div>
  {% endif %} {% if page.next %}
  <a
    href="{{ page.next.url }}"
    class="next-previous-link next-previous-next"
    title="Next Post: {{ page.next.title }}"
  >
    <div class="next-previous-name">
      <div class="next-previous-label">
        Next Post <span class="next-previous-icon">→</span>
      </div>
      <div class="next-previous-title">{{ page.next.title }}</div>
    </div>
    <span class="next-previous-icon">→</span>
  </a>
  {% else %}
  <div class="next-previous-placeholder"></div>
  {% endif %}
</section>
<hr />
{% if page.tags.size != 0 %}
<section class="tag-list">
  <i class="tag-label">tags:</i>
  {% for t in page.tags %}
  <a class="tag-link" href="/tag/{{ t }}">{{ t }}</a>{% if forloop.last == false
  %}, {% endif %} {% endfor %}
</section>
{% endif %}
