<hr />
{% if page.changelog %}
  <section class="changelog" markdown="1">
    {% for entry in page.changelog %}
_Updated {{ entry[0] }}: {{ entry[1] }}_
    {% endfor %}
  </section>
<hr />
{% endif %}

{%- comment -%}No while loops in Liquid, so do this dumb shit.{%- endcomment -%}

{%- assign previous = page.previous -%}
{%- for counter in (0..100) -%}
  {%- if previous and previous.hidden -%}
    {%- assign previous = previous.previous -%}
  {%- else -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- assign next = page.next -%}
{%- for counter in (0...100) -%}
  {%- if next and next.hidden -%}
    {%- assign next = next.next -%}
  {%- else -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<section class="next-previous">
  {% if previous %}
  <a
    href="{{ previous.url }}"
    class="next-previous-link next-previous-previous"
    title="Previous Post: {{ previous.title }}"
  >
    <span class="next-previous-icon">←</span>
    <div class="next-previous-name">
      <div class="next-previous-label">
        <span class="next-previous-icon">←</span> Previous Post
      </div>
      <div class="next-previous-title">{{ previous.title }}</div>
    </div>
  </a>
  {% else %}
  <div class="next-previous-placeholder"></div>
  {% endif %} {% if next %}
  <a
    href="{{ next.url }}"
    class="next-previous-link next-previous-next"
    title="Next Post: {{ next.title }}"
  >
    <div class="next-previous-name">
      <div class="next-previous-label">
        Next Post <span class="next-previous-icon">→</span>
      </div>
      <div class="next-previous-title">{{ next.title }}</div>
    </div>
    <span class="next-previous-icon">→</span>
  </a>
  {% else %}
  <div class="next-previous-placeholder"></div>
  {% endif %}
</section>
<hr />
{% if page.tags.size != 0 %}
<section class="tag-list">
  <i class="tag-label">tags:</i>
  {% for t in page.tags %}
  <a class="tag-link" href="/tag/{{ t }}">{{ t }}</a>{% if forloop.last == false
  %}, {% endif %} {% endfor %}
</section>
{% endif %}
