<header class="site-header">
  <div class="centering-wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <span class="site-controls">
      <a href="/tag">tags</a>
      <span class="dot">•</span>
      <a href="/links">links</a>
      <span class="dot">•</span>
      <a href="https://github.com/seansfkelley">github</a>
      <span class="dot">•</span>
      <a href="{{ "/feed.xml" | relative_url }}">rss</a>
      <!-- Only show theme switcher if js is enabled: hide by default. -->
      <span id="theme-switcher-wrapper" style="display: none;">
        <span class="dot">•</span>
        <a href="#" id="theme-switcher"></a>
      </span>
    </span>
  </div>
</header>
