html {
  font-size: $font-size-base;

  // I guess Sass doesn't evaluate in CSS declarations, so interpolate explicitly.
  --post-width: #{$width-mobile};
  --post-inset: #{$spacing};

  @media screen and (min-width: $width-mobile) {
    --post-width: #{$width-desktop};
    --post-inset: #{$spacing * 4};
  }
}

body {
  font: $font-weight-base #{$font-size-base}/#{$line-height-base}
    $font-family-base;
  color: var(--text-color);
  background-color: var(--background-color);
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

input {
  color: var(--text-color);
  background-color: var(--input-background-color);
  font: inherit;
  font-size: $font-size-small;
  border-radius: $input-border-radius;
  border: 1px solid var(--input-border-color);
  padding: 2px 4px;

  &[type="button"] {
    transition: background-color 100ms;
    padding: 2px 6px;

    &:hover:not(:disabled) {
      cursor: pointer;
      background-color: var(--input-hover-color);
    }
  }
}

textarea {
  color: var(--text-color);
  background-color: var(--input-background-color);
  border-radius: $input-border-radius;
  border: 1px solid var(--input-border-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: $spacing;
}

a {
  color: var(--link-color-base);
  text-decoration: none;

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

ul,
ol {
  margin-left: $spacing * 2;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: "• ";
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

blockquote {
  padding-left: 12px;
  border-left: 3px solid var(--border-color-blockquote);
  color: var(--text-color-blockquote);
}

pre,
code {
  font-family: $font-family-code;
  font-size: 0.9375em;
  border-radius: 1px;
  background-color: var(--code-background-color);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// begin unfucking code styling
// from https://yihui.org/en/2023/08/css-scrollbar/
// note that this is ordering-sensitive due to the specificity of the selector inside the media query
pre,
pre:hover {
  white-space: pre-wrap;
  word-break: break-all;
}

pre code {
  display: block;
  overflow-x: auto;
}

@media only screen and (min-width: $width-mobile) {
  pre {
    white-space: pre;
  }
}
// end unfucking code styling

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
  margin-top: 2px;
  font-style: italic;
}

hr {
  margin: ($spacing * 2) $spacing;
  border: none;
  border-bottom: 1px solid var(--brand-color-light);
}

.centering-wrapper {
  max-width: calc(var(--post-width) - 2 * var(--post-inset));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--post-inset);
  padding-left: var(--post-inset);
}

.horizontal-expander {
  height: 0;
  overflow: hidden;
  user-select: none;
}
