html {
  font-size: $base-font-size;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.content-wrapper {
  max-width: calc(#{$mobile-width} - (#{$spacing} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing;
  padding-left: $spacing;

  @media screen and (min-width: $mobile-width) {
    max-width: calc(#{$desktop-width} - (#{$spacing} * 4));
    padding-right: $spacing * 2;
    padding-left: $spacing * 2;
  }
}
