@mixin make-font-faces($family, $extension, $format, $weights) {
  // n.b. this loop only works because this function is always called with lists of lists; if you
  // tried to call it with a list containing a single triple you'd probably accidentally call it
  // with a list containing three elements.
  @each $suffix, $weight, $style in $weights {
    @font-face {
      font-family: $family;
      src: url("fonts/#{$family}-#{$suffix}.#{$extension}") format($format);
      font-weight: $weight;
      font-style: $style;
    }
  }
}

@include make-font-faces(
  "Inconsolata",
  "ttf",
  "truetype",
  (
    "ExtraLight" 200 normal,
    "Light" 300 normal,
    "Regular" 400 normal,
    "Medium" 500 normal,
    "SemiBold" 600 normal,
    "Bold" 700 normal,
    "ExtraBold" 800 normal,
    "Black" 900 normal
  )
);

@include make-font-faces(
  "InterphasesPro",
  "ttf",
  "truetype",
  (
    "Thin" 100 normal,
    "ThinItalic" 100 italic,
    "ExtraLight" 200 normal,
    "ExtraLightItalic" 200 italic,
    "Light" 300 normal,
    "LightItalic" 300 italic,
    "Regular" 400 normal,
    "Italic" 400 italic,
    "Medium" 500 normal,
    "MediumItalic" 500 italic,
    "DemiBold" 600 normal,
    "DemiBoldItalic" 600 italic,
    "Bold" 700 normal,
    "BoldItalic" 700 italic,
    "ExtraBold" 800 normal,
    "ExtraBoldItalic" 800 italic,
    "Black" 900 normal,
    "BlackItalic" 900 italic
  )
);

@include make-font-faces(
  "Lufga",
  "otf",
  "opentype",
  (
    "Thin" 100 normal,
    "ThinItalic" 100 italic,
    "ExtraLight" 200 normal,
    "ExtraLightItalic" 200 italic,
    "Light" 300 normal,
    "LightItalic" 300 italic,
    "Regular" 400 normal,
    "Italic" 400 italic,
    "Medium" 500 normal,
    "MediumItalic" 500 italic,
    "SemiBold" 600 normal,
    "SemiBoldItalic" 600 italic,
    "Bold" 700 normal,
    "BoldItalic" 700 italic,
    "ExtraBold" 800 normal,
    "ExtraBoldItalic" 800 italic,
    "Black" 900 normal,
    "BlackItalic" 900 italic
  )
);
