// Colors in here are lifted from blueprintjs.
.alert {
  background-color: rgba(19,124,189,.15);
  padding: $spacing;
  border-radius: 3px;

  .alert-title {
    font-weight: 600;
    color: #106ba3;
  }

  &.alert-success {
    background-color: rgba(15, 153, 96, 0.15);

    .alert-title {
      color: #0d8050;
    }
  }

  &.alert-warning {
    background-color: rgba(217, 130, 43, 0.15);

    .alert-title {
      color: #bf7326;
    }
  }

  &.alert-danger {
    background-color: rgba(219, 55, 55, 0.15);

    .alert-title {
      color: #c23030;
    }
  }
}


@media (prefers-color-scheme: dark) {
  .alert {
    background-color: rgba(19,124,189,.25);

    .alert-title {
      color: #48aff0;
    }

    &.alert-success {
      background-color: rgba(15,153,96,.25);

      .alert-title {
        color: #3dcc91;
      }
    }

    &.alert-warning {
      background-color: rgba(217, 130, 43, 0.25);

      .alert-title {
        color: #ffb366;
      }
    }

    &.alert-danger {
      background-color: rgba(219, 55, 55, 0.25);

      .alert-title {
        color: #ff7373;
      }
    }
  }
}
