.alert {
  background-color: var(--intent-default-background-color);
  padding: $spacing;
  border-radius: 3px;

  .alert-title {
    font-weight: 600;
    color: var(--intent-default-text-color);
  }

  &.alert-success {
    background-color: var(--intent-success-background-color);

    .alert-title {
      color: var(--intent-success-text-color);
    }
  }

  &.alert-warning {
    background-color: var(--intent-warning-background-color);

    .alert-title {
      color: var(--intent-warning-text-color);
    }
  }

  &.alert-danger {
    background-color: var(--intent-danger-background-color);

    .alert-title {
      color: var(--intent-danger-text-color);
    }
  }
}
