// begin unfucking code styling
// from https://yihui.org/en/2023/08/css-scrollbar/
// note that this is ordering-sensitive due to the specificity of the selector inside the media query
pre,
pre:hover {
  white-space: pre-wrap;
  word-break: break-all;
}

pre code {
  display: block;
  overflow-x: auto;
}

@media only screen and (min-width: $width-mobile) {
  pre {
    white-space: pre;
  }
}
// end unfucking code styling

pre {
  position: relative;

  .copy-button {
    position: absolute;
    display: none;
    cursor: pointer;
    inset: 5px 5px auto auto;
    width: 1.5em;
    height: 1.5em;
    border-radius: $input-border-radius;
    padding: 2px;
    background-color: var(--code-background-color);

    svg {
      fill: var(--text-color);
    }

    &:hover {
      // TODO: Pick something that makes more sense.
      background-color: var(--background-color);
    }

    .checkmark {
      display: none;
    }

    &.copied {
      .checkmark {
        display: block;
      }

      .clipboard {
        display: none;
      }
    }
  }

  &:hover .copy-button {
    display: inline-block;
  }
}
