@use "sass:math";

$font-size-site-title: 1.5rem;
$header-vertical-spacing: math.div($spacing, 4);

html {
  // mathmathmath
  // this reproduces the various bits that contribute to the height of the site header in a DRY way
  // this is so when following anchors, we scroll to the right place, since the header is sticky!
  scroll-padding-top: calc(
    #{$line-height-base * $font-size-site-title} + #{$header-vertical-spacing * 2 +
      1}
  );
}

.site-header {
  padding: $header-vertical-spacing 0;
  border-bottom: 1px solid var(--brand-color-light);
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  // Because this comes before post content but is sticky, it can sometimes end up underneath it without this.
  z-index: 1;

  .centering-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-title {
  font-family: $font-family-header;
  font-weight: 300;
  font-size: $font-size-site-title;

  &,
  &:hover,
  &:visited {
    color: var(--site-title-color);
  }
}

.site-controls {
  font-family: $font-family-header;
  font-weight: 300;
}

body[data-theme="auto"] #theme-switcher:after {
  content: "auto";
}

body[data-theme="dark"] #theme-switcher:after {
  content: "dark";
}

body[data-theme="light"] #theme-switcher:after {
  content: "light";
}
