.site-header {
  padding: $spacing 0;
  border-bottom: 1px solid $brand-color-light;

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;;
  }
}

.site-title {
  font-family: $code-font-family;
  font-weight: 300;
  font-size: 1.5rem;
}
