.site-header {
  padding: $spacing 0;
  border-bottom: 1px solid $brand-color-light;
  position: sticky;
  top: 0;
  background-color: $background-color;

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;;
  }
}

.site-title {
  font-family: $font-family-code;
  font-weight: 300;
  font-size: 1.5rem;
}
