.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing;
  }
}

.post-date {
  font-size: $font-size-small;
  color: var(--brand-color);
}

.post-heading {
  margin: 0;
}

.post-link {
  display: block;
  font-weight: 300;
  font-size: 1.5rem;
}
