.link-list {
  list-style: none;
  margin: $spacing * 2 0;

  .title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing;

    h2 {
      margin: 0;
    }

    .metadata {
      margin-left: auto;
      margin-right: $spacing;
      padding-left: $spacing;
      font-size: $font-size-small;
      white-space: nowrap;

      .date {
        color: var(--text-color-faded);
      }
    }

    @media screen and (min-width: $width-mobile) {
      flex-direction: row;
      align-items: center;
    }
  }

  .excerpt {
    margin-left: $spacing;
    font-size: $font-size-small;
  }
}
