@use "sass:math";

.next-previous {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.next-previous-icon {
  width: $spacing;
}

.next-previous-placeholder {
  flex: 1;
}

.next-previous-link {
  display: flex;
  align-items: center;
  flex: 1;

  .next-previous-label,
  .next-previous-icon {
    color: var(--text-color);
  }

  &:hover {
    text-decoration: none;

    .next-previous-title {
      text-decoration: underline;
    }

    .next-previous-label,
    .next-previous-icon {
      color: var(--text-color);
    }
  }
}

.next-previous-name {
  margin: 0 $spacing;
}

.next-previous-right {
  text-align: right;
  justify-content: right;
}

.next-previous-label {
  font-size: 0.75rem;
}

.next-previous-title {
  font-size: 1.25rem;
}

@media screen and (min-width: $width-mobile) {
  .next-previous-icon {
    transition: transform 100ms ease-in;
  }

  .next-previous-left {
    margin-left: -($spacing * 2);

    &:hover .next-previous-icon {
      transform: translateX(math.div(-$spacing, 2));
    }
  }

  .next-previous-right {
    margin-right: -($spacing * 2);

    &:hover .next-previous-icon {
      transform: translateX(math.div($spacing, 2));
    }
  }
}

.tag-list {
  margin-bottom: $spacing * 2;
}
