@use "sass:math";

.next-previous {
  display: flex;
  flex-direction: column-reverse;

  a {
    text-decoration: none;
  }
}

.next-previous-icon {
  width: $spacing;
  display: none;

  .next-previous-label & {
    display: initial;
  }
}

.next-previous-placeholder {
  display: none;
}

.next-previous-link {
  display: flex;
  align-items: center;
  flex: 1;

  // This is first-child because we do column-reverse to make sure next is on top.
  margin-bottom: $spacing;

  .next-previous-label,
  .next-previous-icon {
    color: var(--text-color);
  }

  &:hover {
    text-decoration: none;

    .next-previous-title {
      text-decoration: underline;
    }

    .next-previous-label,
    .next-previous-icon {
      color: var(--text-color);
    }
  }
}

.next-previous-next {
  text-align: right;
  justify-content: right;
}

.next-previous-label {
  font-size: 0.75rem;
}

.next-previous-title {
  font-size: 1.25rem;
}

@media screen and (min-width: $width-mobile) {
  .next-previous {
    flex-direction: row;
  }

  .next-previous-icon {
    display: initial;
    transition: transform 100ms ease-in;

    .next-previous-label & {
      display: none;
    }
  }

  .next-previous-link {
    flex: auto;
    margin-bottom: 0;
  }

  .next-previous-name {
    margin: 0 $spacing;
  }

  .next-previous-previous {
    margin-left: -($spacing * 2);

    &:hover .next-previous-icon {
      transform: translateX(math.div(-$spacing, 2));
    }
  }

  .next-previous-next {
    margin-right: -($spacing * 2);

    &:hover .next-previous-icon {
      transform: translateX(math.div($spacing, 2));
    }
  }
}

.tag-list {
  margin-bottom: $spacing * 2;
}
