.post-header {
  margin-bottom: $spacing;
}

.post-title {
  margin-bottom: 0;
}

.post-title,
.post-content h1 {
  font-size: 2.625rem;
  line-height: 1.15;
}

.post-content {
  margin-bottom: $spacing;

  h1, h2, h3 {
    margin-top: $spacing * 2;
  }

  h4, h5, h6 {
    margin-top: $spacing;
  }

  h2 {
    font-size: 1.75rem;

    @media screen and (min-width: $mobile-width) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.375rem;

    @media screen and (min-width: $mobile-width) {
      font-size: 1.625rem;
    }
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1.0625rem;
  }
}
