// Common
$font-family-base:          "Interphases", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$font-family-base-no-emoji: "Interphases", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", Roboto, Helvetica, Arial, sans-serif !default;
$font-family-code:          "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Menlo", "Liberation Mono", "Courier New", monospace;
$font-family-header:        "Lufga", Helvetica, Arial, sans-serif !default;
$font-size-base:            16px !default;
$font-weight-base:          400 !default;
$font-size-small:           $font-size-base * 0.875 !default;
$line-height-base:          1.8 !default;
$spacing:                   14px !default;
$width-mobile:              600px !default;
$width-desktop:             800px !default;
$input-border-radius:       2px;

// Syntax highlighting. Lifted from minima's Solarized port.
:root {
  --sol-base03:   #002b36;  // 15 -12 -12
  --sol-base02:   #073642;  // 20 -12 -12
  --sol-base01:   #586e75;  // 45 -07 -07
  --sol-base00:   #657b83;  // 50 -07 -07
  --sol-base0:    #839496;  // 60 -06 -03
  --sol-base1:    #93a1a1;  // 65 -05 -02
  --sol-base2:    #eee8d5;  // 92 -00  10
  --sol-base3:    #fdf6e3;  // 97  00  10
  --sol-yellow:   #b58900;  // 60  10  65
  --sol-orange:   #cb4b16;  // 50  50  55
  --sol-red:      #dc322f;  // 50  65  45
  --sol-magenta:  #d33682;  // 50  65 -05
  --sol-violet:   #6c71c4;  // 50  15 -45
  --sol-blue:     #268bd2;  // 55 -10 -45
  --sol-cyan:     #2aa198;  // 60 -35 -05
  --sol-green:    #859900;  // 60 -20  65
}

body[data-theme="auto"], body[data-theme="light"] {
  --brand-color:                #828282;
  --brand-color-light:          #e8e8e8;
  --brand-color-dark:           #424242;
  --site-title-color:           var(--brand-color-dark);
  --text-color:                 #111111;
  --text-color-faded:           #5e5e5e;
  --background-color:           #fdfdfd;
  --code-background-color:      #eeeeee;
  --highlight-background-color: #fdffdd;
  --input-background-color:     #ffffff;
  --input-border-color:         #dddddd;
  --input-hover-color:          #eeeeee;
  --link-color-base:            #2a7ae2;
  --link-color-underline:       #dddddd;
  --link-color-hover:           var(--text-color);
  --link-color-hover-underline: var(--text-color);
  --text-color-blockquote:      var(--text-color-faded);
  --border-color-blockquote:    #aaaaaa;

  // Colors in here are lifted from blueprintjs.
  --intent-default-background-color:  rgba(19,124,189,.15);
  --intent-default-text-color:        #106ba3;
  --intent-success-background-color:  rgba(15, 153, 96, 0.15);
  --intent-success-text-color:        #0d8050;
  --intent-warning-background-color:  rgba(217, 130, 43, 0.15);
  --intent-warning-text-color:        #bf7326;
  --intent-danger-background-color:   rgba(219, 55, 55, 0.15);
  --intent-danger-text-color:         #c23030;

  // Syntax highlighting.
  --sol-mono3:  var(--sol-base3);
  --sol-mono2:  var(--sol-base2);
  --sol-mono1:  var(--sol-base1);
  --sol-mono00: var(--sol-base00);
  --sol-mono01: var(--sol-base01);
}

@mixin dark-colors {
  --brand-color:                #a2a2a2;
  --brand-color-light:          #424242;
  --brand-color-dark:           #e8e8e8;
  --site-title-color:           var(--brand-color-dark);
  --text-color:                 #c8c8c8;
  --text-color-faded:           #909090;
  --background-color:           #202020;
  --code-background-color:      #404040;
  --input-background-color:     #404040;
  --input-border-color:         #555555;
  --input-hover-color:          #505050;
  --highlight-background-color: #434418;
  --link-color-base:            #689fe6;
  --link-color-underline:       #555555;
  --link-color-hover:           var(--text-color);
  --link-color-hover-underline: var(--text-color);
  --text-color-blockquote:      var(--text-color-faded);
  --border-color-blockquote:    #808080;

  // Colors in here are lifted from blueprintjs.
  --intent-default-background-color: rgba(19,124,189,.25);
  --intent-default-text-color:       #48aff0;
  --intent-success-background-color: rgba(15,153,96,.25);
  --intent-success-text-color:       #3dcc91;
  --intent-warning-background-color: rgba(217, 130, 43, 0.25);
  --intent-warning-text-color:       #ffb366;
  --intent-danger-background-color:  rgba(219, 55, 55, 0.25);
  --intent-danger-text-color:        #ff7373;

  // Syntax highlighting.
  --sol-mono3:  var(--sol-base03);
  --sol-mono2:  var(--sol-base02);
  --sol-mono1:  var(--sol-base01);
  --sol-mono00: var(--sol-base0);
  --sol-mono01: var(--sol-base1);
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    @include dark-colors;
  }
}

// This could theoretically be DRY like the auto/light except the necessity of the media query
// doesn't allow combining the selectors into a single statement in the way that we want.
body[data-theme="dark"] {
  @include dark-colors;
}
