// Common
$font-family-base: "SourceSansPro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$font-family-base-no-emoji: "SourceSansPro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", Roboto, Helvetica, Arial, sans-serif !default;
$font-family-code: "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Menlo", "Liberation Mono", "Courier New", monospace;
$font-size-base:   16px !default;
$font-weight-base: 400 !default;
$font-size-small:  $font-size-base * 0.875 !default;
$line-height-base: 1.5 !default;
$spacing:          12px !default;
$width-mobile:     600px !default;
$width-desktop:    800px !default;

:root {
  --brand-color:                #828282;
  --brand-color-light:          #e8e8e8;
  --brand-color-dark:           #424242;
  --site-title-color:           var(--brand-color-dark);
  --text-color:                 #111111;
  --background-color:           #fdfdfd;
  --code-background-color:      #eeeeee;
  --highlight-background-color: #fdffdd;
  --link-color-base:            #2a7ae2;
  --link-color-visited:         #1756a9;
  --link-color-hover:           var(--text-color);
  --text-color-blockquote:      #5e5e5e;
  --border-color-blockquote:    #aaaaaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    // TODO: Dark mode!
  }
}
