---
# why do I have to put this nonsense header in and break my syntax highlighter
---

.fill-azure {
  fill: blue;
}

.fill-or {
  fill: yellow;
}

.fill-argent {
  fill: white;
}

.fill-gules {
  fill: red;
}

.fill-vert {
  fill: green;
}

.fill-sable {
  fill: black;
}

.fill-none {
  fill: none;
}

.outline {
  stroke: black;
  stroke-width: 2;
}
