---
# why do I have to put this nonsense header in and break my syntax highlighter
---

.azure {
  background-color: blue;
}

.or {
  background-color: yellow;
}

.argent {
  background-color: white;
}

.gules {
  background-color: red;
}

.vert {
  background-color: green;
}

.sable {
  background-color: black;
}

#rendered {
}
