.fill-azure { fill: blue; }

.fill-or { fill: yellow; }

.fill-argent { fill: white; }

.fill-gules { fill: red; }

.fill-vert { fill: green; }

.fill-sable { fill: black; }

.stroke-azure { stroke: blue; }

.stroke-or { stroke: yellow; }

.stroke-argent { stroke: white; }

.stroke-gules { stroke: red; }

.stroke-vert { stroke: green; }

.stroke-sable { stroke: black; }
