:root {
  --sol-base03: #002b36;
  --sol-base02: #073642;
  --sol-base01: #586e75;
  --sol-base00: #657b83;
  --sol-base0: #839496;
  --sol-base1: #93a1a1;
  --sol-base2: #eee8d5;
  --sol-base3: #fdf6e3;
  --sol-yellow: #b58900;
  --sol-orange: #cb4b16;
  --sol-red: #dc322f;
  --sol-magenta: #d33682;
  --sol-violet: #6c71c4;
  --sol-blue: #268bd2;
  --sol-cyan: #2aa198;
  --sol-green: #859900;
}

body[data-theme=auto], body[data-theme=light] {
  --brand-color: #828282;
  --brand-color-light: #e8e8e8;
  --brand-color-dark: #424242;
  --site-title-color: var(--brand-color-dark);
  --text-color: #111111;
  --text-color-faded: #5e5e5e;
  --background-color: #fdfdfd;
  --code-background-color: #eeeeee;
  --highlight-background-color: #fdffdd;
  --input-background-color: #ffffff;
  --input-border-color: #dddddd;
  --input-hover-color: #eeeeee;
  --link-color-base: #2a7ae2;
  --link-color-underline: #dddddd;
  --link-color-hover: var(--text-color);
  --link-color-hover-underline: var(--text-color);
  --text-color-blockquote: var(--text-color-faded);
  --border-color-blockquote: #aaaaaa;
  --intent-default-background-color: rgba(19,124,189,.15);
  --intent-default-text-color: #106ba3;
  --intent-success-background-color: rgba(15, 153, 96, 0.15);
  --intent-success-text-color: #0d8050;
  --intent-warning-background-color: rgba(217, 130, 43, 0.15);
  --intent-warning-text-color: #bf7326;
  --intent-danger-background-color: rgba(219, 55, 55, 0.15);
  --intent-danger-text-color: #c23030;
  --sol-mono3: var(--sol-base3);
  --sol-mono2: var(--sol-base2);
  --sol-mono1: var(--sol-base1);
  --sol-mono00: var(--sol-base00);
  --sol-mono01: var(--sol-base01);
}

@media (prefers-color-scheme: dark) {
  body[data-theme=auto] {
    --brand-color: #a2a2a2;
    --brand-color-light: #424242;
    --brand-color-dark: #e8e8e8;
    --site-title-color: var(--brand-color-dark);
    --text-color: #c8c8c8;
    --text-color-faded: #909090;
    --background-color: #202020;
    --code-background-color: #404040;
    --input-background-color: #404040;
    --input-border-color: #555555;
    --input-hover-color: #505050;
    --highlight-background-color: #434418;
    --link-color-base: #689fe6;
    --link-color-underline: #555555;
    --link-color-hover: var(--text-color);
    --link-color-hover-underline: var(--text-color);
    --text-color-blockquote: var(--text-color-faded);
    --border-color-blockquote: #808080;
    --intent-default-background-color: rgba(19,124,189,.25);
    --intent-default-text-color: #48aff0;
    --intent-success-background-color: rgba(15,153,96,.25);
    --intent-success-text-color: #3dcc91;
    --intent-warning-background-color: rgba(217, 130, 43, 0.25);
    --intent-warning-text-color: #ffb366;
    --intent-danger-background-color: rgba(219, 55, 55, 0.25);
    --intent-danger-text-color: #ff7373;
    --sol-mono3: var(--sol-base03);
    --sol-mono2: var(--sol-base02);
    --sol-mono1: var(--sol-base01);
    --sol-mono00: var(--sol-base0);
    --sol-mono01: var(--sol-base1);
  }
}
body[data-theme=dark] {
  --brand-color: #a2a2a2;
  --brand-color-light: #424242;
  --brand-color-dark: #e8e8e8;
  --site-title-color: var(--brand-color-dark);
  --text-color: #c8c8c8;
  --text-color-faded: #909090;
  --background-color: #202020;
  --code-background-color: #404040;
  --input-background-color: #404040;
  --input-border-color: #555555;
  --input-hover-color: #505050;
  --highlight-background-color: #434418;
  --link-color-base: #689fe6;
  --link-color-underline: #555555;
  --link-color-hover: var(--text-color);
  --link-color-hover-underline: var(--text-color);
  --text-color-blockquote: var(--text-color-faded);
  --border-color-blockquote: #808080;
  --intent-default-background-color: rgba(19,124,189,.25);
  --intent-default-text-color: #48aff0;
  --intent-success-background-color: rgba(15,153,96,.25);
  --intent-success-text-color: #3dcc91;
  --intent-warning-background-color: rgba(217, 130, 43, 0.25);
  --intent-warning-text-color: #ffb366;
  --intent-danger-background-color: rgba(219, 55, 55, 0.25);
  --intent-danger-text-color: #ff7373;
  --sol-mono3: var(--sol-base03);
  --sol-mono2: var(--sol-base02);
  --sol-mono1: var(--sol-base01);
  --sol-mono00: var(--sol-base0);
  --sol-mono01: var(--sol-base1);
}

.hidden {
  display: none !important;
}

a[data-example]:not(:hover) {
  color: darkcyan;
}

.fill-argent {
  fill: whitesmoke;
}

.stroke-argent {
  stroke: whitesmoke;
}

.fill-sable {
  fill: black;
}

.stroke-sable {
  stroke: black;
}

.fill-gules {
  fill: crimson;
}

.stroke-gules {
  stroke: crimson;
}

.fill-vert {
  fill: green;
}

.stroke-vert {
  stroke: green;
}

.fill-azure {
  fill: mediumblue;
}

.stroke-azure {
  stroke: mediumblue;
}

.fill-or {
  fill: gold;
}

.stroke-or {
  stroke: gold;
}

.fill-purpure {
  fill: blueviolet;
}

.stroke-purpure {
  stroke: blueviolet;
}

.fill-none {
  fill: none;
}

.stroke-none {
  stroke: none;
}

#form,
#error,
#rendered,
#ast {
  margin-top: 12px;
}

#rendered {
  width: 300px;
  height: 360px;
}

#rendered,
#rendered-preview-container svg {
  fill: none;
}

#error {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--intent-danger-background-color);
  color: var(--intent-danger-text-color);
  white-space: pre;
  overflow-x: auto;
}

#ast-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}

#form {
  width: 100%;
}
#form #blazon-input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  resize: vertical;
}
#form > div {
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
#form > div button {
  margin: 0;
}

#ambiguous {
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ambiguous > * {
  margin: 0 3px;
}
#ambiguous #ambiguous-count {
  white-space: nowrap;
}

#rendered-preview-container {
  opacity: 0;
  transition: opacity 300ms;
  position: fixed;
  right: var(--post-inset);
  bottom: var(--post-inset);
  filter: drop-shadow(0 0 4px var(--text-color-faded));
  pointer-events: none;
}
#rendered-preview-container.visible {
  opacity: 1;
  pointer-events: initial;
}
#rendered-preview-container svg {
  width: 100px;
  height: 120px;
}
@media screen and (min-width: 600px) {
  #rendered-preview-container {
    right: inherit;
    left: calc(50% - 225px + var(--post-width) / 2);
  }
  #rendered-preview-container svg {
    width: 150px;
    height: 180px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lion {
  stroke-width: 1 !important;
}
.lion .outline {
  stroke: black;
}
.lion .teeth,
.lion .white {
  fill: white;
}
.lion .ear,
.lion .pupil,
.lion .medial-sulcus {
  fill: black;
}
.lion.argent {
  fill: none;
}
.lion.argent .body,
.lion.argent .claw,
.lion.argent .langue {
  fill: whitesmoke;
}
.lion.armed-argent .claw {
  fill: whitesmoke !important;
}
.lion.langued-argent .langue {
  fill: whitesmoke !important;
}
.lion.sable {
  fill: none;
}
.lion.sable .body,
.lion.sable .claw,
.lion.sable .langue {
  fill: black;
}
.lion.armed-sable .claw {
  fill: black !important;
}
.lion.langued-sable .langue {
  fill: black !important;
}
.lion.gules {
  fill: none;
}
.lion.gules .body,
.lion.gules .claw,
.lion.gules .langue {
  fill: crimson;
}
.lion.armed-gules .claw {
  fill: crimson !important;
}
.lion.langued-gules .langue {
  fill: crimson !important;
}
.lion.vert {
  fill: none;
}
.lion.vert .body,
.lion.vert .claw,
.lion.vert .langue {
  fill: green;
}
.lion.armed-vert .claw {
  fill: green !important;
}
.lion.langued-vert .langue {
  fill: green !important;
}
.lion.azure {
  fill: none;
}
.lion.azure .body,
.lion.azure .claw,
.lion.azure .langue {
  fill: mediumblue;
}
.lion.armed-azure .claw {
  fill: mediumblue !important;
}
.lion.langued-azure .langue {
  fill: mediumblue !important;
}
.lion.or {
  fill: none;
}
.lion.or .body,
.lion.or .claw,
.lion.or .langue {
  fill: gold;
}
.lion.armed-or .claw {
  fill: gold !important;
}
.lion.langued-or .langue {
  fill: gold !important;
}
.lion.purpure {
  fill: none;
}
.lion.purpure .body,
.lion.purpure .claw,
.lion.purpure .langue {
  fill: blueviolet;
}
.lion.armed-purpure .claw {
  fill: blueviolet !important;
}
.lion.langued-purpure .langue {
  fill: blueviolet !important;
}

.escallop .outline {
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 2;
}
.escallop.argent {
  fill: none;
}
.escallop.argent .light {
  fill: whitesmoke;
}
.escallop.argent .dark {
  fill: gainsboro;
}
.escallop.sable {
  fill: none;
}
.escallop.sable .light {
  fill: black;
}
.escallop.sable .dark {
  fill: black;
}
.escallop.gules {
  fill: none;
}
.escallop.gules .light {
  fill: crimson;
}
.escallop.gules .dark {
  fill: #ad102f;
}
.escallop.vert {
  fill: none;
}
.escallop.vert .light {
  fill: green;
}
.escallop.vert .dark {
  fill: #004d00;
}
.escallop.azure {
  fill: none;
}
.escallop.azure .light {
  fill: mediumblue;
}
.escallop.azure .dark {
  fill: #00009a;
}
.escallop.or {
  fill: none;
}
.escallop.or .light {
  fill: gold;
}
.escallop.or .dark {
  fill: #ccac00;
}
.escallop.purpure {
  fill: none;
}
.escallop.purpure .light {
  fill: blueviolet;
}
.escallop.purpure .dark {
  fill: #701ac0;
}

.fleur-de-lys .outline {
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 2;
}
.fleur-de-lys.argent {
  fill: none;
}
.fleur-de-lys.argent .main {
  fill: whitesmoke;
}
.fleur-de-lys.argent .lowlight {
  fill: #e8e8e8;
}
.fleur-de-lys.argent .highlight {
  fill: white;
}
.fleur-de-lys.sable {
  fill: none;
}
.fleur-de-lys.sable .main {
  fill: black;
}
.fleur-de-lys.sable .lowlight {
  fill: black;
}
.fleur-de-lys.sable .highlight {
  fill: #262626;
}
.fleur-de-lys.gules {
  fill: none;
}
.fleur-de-lys.gules .main {
  fill: crimson;
}
.fleur-de-lys.gules .lowlight {
  fill: #c51236;
}
.fleur-de-lys.gules .highlight {
  fill: #ef4e6e;
}
.fleur-de-lys.vert {
  fill: none;
}
.fleur-de-lys.vert .main {
  fill: green;
}
.fleur-de-lys.vert .lowlight {
  fill: #006700;
}
.fleur-de-lys.vert .highlight {
  fill: #00cd00;
}
.fleur-de-lys.azure {
  fill: none;
}
.fleur-de-lys.azure .main {
  fill: mediumblue;
}
.fleur-de-lys.azure .lowlight {
  fill: #0000b4;
}
.fleur-de-lys.azure .highlight {
  fill: #1b1bff;
}
.fleur-de-lys.or {
  fill: none;
}
.fleur-de-lys.or .main {
  fill: gold;
}
.fleur-de-lys.or .lowlight {
  fill: #e6c200;
}
.fleur-de-lys.or .highlight {
  fill: #ffe34d;
}
.fleur-de-lys.purpure {
  fill: none;
}
.fleur-de-lys.purpure .main {
  fill: blueviolet;
}
.fleur-de-lys.purpure .lowlight {
  fill: #7d1dd6;
}
.fleur-de-lys.purpure .highlight {
  fill: #af6eeb;
}