---
# why do I have to put this nonsense header in and break my syntax highlighter
---

$colors: (
  argent: white,
  sable: black,
  gules: red,
  vert: green,
  azure: blue,
  or: yellow,
  purpure: purple,
);

@each $key, $val in $colors {
  .fill-#{$key} {
    fill: $val;
  }

  .stroke-#{$key} {
    stroke: $val;
  }
}

.fill-none {
  fill: none;
}

.stroke-none {
  stroke: none;
}

#form,
#error,
#rendered,
#ast {
  margin-top: 12px;
}

#error {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--intent-danger-background-color);
  color: var(--intent-danger-text-color);
}

#ast-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
}

#form {
  width: 100%;

  #blazon-input {
    width: 100%;
    box-sizing: border-box;
  }

  button[type="submit"] {
    margin: 0;
    margin-top: 6px;
    float: right;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lion {
  @each $key, $val in $colors {
    &.#{$key} {
      .body,
      .claws,
      .langue {
        fill: $val;
      }

      .highlight.low {
        fill: lighten($val, 10%);
      }

      .highlight.high {
        fill: lighten($val, 15%);
      }
    }
  }
}
