---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@import "variables";

$colors: (
  argent: whitesmoke,
  sable: black,
  gules: crimson,
  vert: green,
  azure: mediumblue,
  or: gold,
  purpure: blueviolet,
);

.hidden {
  display: none !important;
}

a[data-example]:not(:hover) {
  color: darkcyan;
}

@each $key, $val in $colors {
  .fill-#{"" + $key} {
    fill: $val;
  }

  .stroke-#{"" + $key} {
    stroke: $val;
  }
}

.fill-none {
  fill: none;
}

.stroke-none {
  stroke: none;
}

#form,
#error,
#rendered,
#ast {
  margin-top: 12px;
}

#rendered {
  width: 300px;
  height: 360px;
}

#rendered,
#rendered-preview-container svg {
  fill: none;
}

#error {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--intent-danger-background-color);
  color: var(--intent-danger-text-color);
  white-space: pre;
  overflow-x: auto;
}

#ast-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}

#form {
  width: 100%;

  #blazon-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
    resize: vertical;
  }

  > div {
    width: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;

    button {
      margin: 0;
    }
  }
}

#ambiguous {
  width: 100%;
  margin-top: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 3px;
  }

  #ambiguous-count {
    white-space: nowrap;
  }
}

#rendered-preview-container {
  opacity: 0;
  transition: opacity 300ms;
  position: fixed;
  right: var(--post-inset);
  bottom: var(--post-inset);
  filter: drop-shadow(0 0 4px var(--text-color-faded));
  pointer-events: none;

  &.visible {
    opacity: 1;
  }

  svg {
    width: 100px;
    height: 120px;
  }

  @media screen and (min-width: $width-mobile) {
    right: inherit;
    left: calc(50% - 225px + var(--post-width) / 2);

    svg {
      width: 150px;
      height: 180px;
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lion {
  fill: none;
  stroke-width: 1 !important;

  .outline {
    stroke: black;
  }

  .teeth,
  .white {
    // white, as in, whites of the eyes
    fill: white;
  }

  .ear,
  .pupil,
  .medial-sulcus {
    fill: black;
  }

  @each $key, $val in $colors {
    &.#{"" + $key} {
      .body,
      .claw,
      .langue {
        fill: $val;
      }
    }

    &.armed-#{"" + $key} .claw {
      // Fucking CSS specificity rules. I DON'T HAVE ANY MORE CLASSES TO INCREASE SPECIFICITY WITH.
      // JUST LET ME MAKE THIS RULE TAKE PRECEDENCE.
      fill: $val !important;
    }

    &.langued-#{"" + $key} .langue {
      fill: $val !important;
    }
  }
}

.escallop {
  fill: none;

  .outline {
    stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 2;
  }

  @each $key, $val in $colors {
    &.#{"" + $key} {
      .light {
        fill: $val;
      }

      .dark {
        fill: darken($val, 10%);
      }
    }
  }
}

.fleur-de-lys {
  fill: none;

  .outline {
    stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 2;
  }

  @each $key, $val in $colors {
    &.#{"" + $key} {
      .main {
        fill: $val;
      }

      .lowlight {
        fill: darken($val, 5%);
      }

      .highlight {
        fill: lighten($val, 15%);
      }
    }
  }
}
