.hidden {
  display: none !important;
}

.fill-argent {
  fill: whitesmoke;
}

.stroke-argent {
  stroke: whitesmoke;
}

.fill-sable {
  fill: black;
}

.stroke-sable {
  stroke: black;
}

.fill-gules {
  fill: crimson;
}

.stroke-gules {
  stroke: crimson;
}

.fill-vert {
  fill: green;
}

.stroke-vert {
  stroke: green;
}

.fill-azure {
  fill: mediumblue;
}

.stroke-azure {
  stroke: mediumblue;
}

.fill-or {
  fill: gold;
}

.stroke-or {
  stroke: gold;
}

.fill-purpure {
  fill: blueviolet;
}

.stroke-purpure {
  stroke: blueviolet;
}

.fill-none {
  fill: none;
}

.stroke-none {
  stroke: none;
}

#form,
#error,
#rendered,
#ast {
  margin-top: 12px;
}

#error {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--intent-danger-background-color);
  color: var(--intent-danger-text-color);
  white-space: pre;
  overflow-x: auto;
}

#ast-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
}

#form {
  width: 100%;
}
#form #blazon-input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  resize: vertical;
}
#form > div {
  margin-top: 6px;
  float: right;
}
#form > div button {
  margin: 0;
}

#ambiguous {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#ambiguous > * {
  margin: 0 3px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lion {
  stroke-width: 1 !important;
}
.lion .outline {
  stroke: black;
}
.lion .teeth, .lion .white {
  fill: white;
}
.lion .ear, .lion .pupil, .lion .medial-sulcus {
  fill: black;
}
.lion.argent .body,
.lion.argent .claw,
.lion.argent .langue {
  fill: whitesmoke;
}
.lion.armed-argent .claw {
  fill: whitesmoke !important;
}
.lion.langued-argent .langue {
  fill: whitesmoke !important;
}
.lion.sable .body,
.lion.sable .claw,
.lion.sable .langue {
  fill: black;
}
.lion.armed-sable .claw {
  fill: black !important;
}
.lion.langued-sable .langue {
  fill: black !important;
}
.lion.gules .body,
.lion.gules .claw,
.lion.gules .langue {
  fill: crimson;
}
.lion.armed-gules .claw {
  fill: crimson !important;
}
.lion.langued-gules .langue {
  fill: crimson !important;
}
.lion.vert .body,
.lion.vert .claw,
.lion.vert .langue {
  fill: green;
}
.lion.armed-vert .claw {
  fill: green !important;
}
.lion.langued-vert .langue {
  fill: green !important;
}
.lion.azure .body,
.lion.azure .claw,
.lion.azure .langue {
  fill: mediumblue;
}
.lion.armed-azure .claw {
  fill: mediumblue !important;
}
.lion.langued-azure .langue {
  fill: mediumblue !important;
}
.lion.or .body,
.lion.or .claw,
.lion.or .langue {
  fill: gold;
}
.lion.armed-or .claw {
  fill: gold !important;
}
.lion.langued-or .langue {
  fill: gold !important;
}
.lion.purpure .body,
.lion.purpure .claw,
.lion.purpure .langue {
  fill: blueviolet;
}
.lion.armed-purpure .claw {
  fill: blueviolet !important;
}
.lion.langued-purpure .langue {
  fill: blueviolet !important;
}

.escallop .outline {
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 2;
}
.escallop.argent .light {
  fill: whitesmoke;
}
.escallop.argent .dark {
  fill: gainsboro;
}
.escallop.sable .light {
  fill: black;
}
.escallop.sable .dark {
  fill: black;
}
.escallop.gules .light {
  fill: crimson;
}
.escallop.gules .dark {
  fill: #ad102f;
}
.escallop.vert .light {
  fill: green;
}
.escallop.vert .dark {
  fill: #004d00;
}
.escallop.azure .light {
  fill: mediumblue;
}
.escallop.azure .dark {
  fill: #00009a;
}
.escallop.or .light {
  fill: gold;
}
.escallop.or .dark {
  fill: #ccac00;
}
.escallop.purpure .light {
  fill: blueviolet;
}
.escallop.purpure .dark {
  fill: #701ac0;
}

.fleur-de-lys .outline {
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 2;
}
.fleur-de-lys.argent .main {
  fill: whitesmoke;
}
.fleur-de-lys.argent .lowlight {
  fill: #e8e8e8;
}
.fleur-de-lys.argent .highlight {
  fill: white;
}
.fleur-de-lys.sable .main {
  fill: black;
}
.fleur-de-lys.sable .lowlight {
  fill: black;
}
.fleur-de-lys.sable .highlight {
  fill: #262626;
}
.fleur-de-lys.gules .main {
  fill: crimson;
}
.fleur-de-lys.gules .lowlight {
  fill: #c51236;
}
.fleur-de-lys.gules .highlight {
  fill: #ef4e6e;
}
.fleur-de-lys.vert .main {
  fill: green;
}
.fleur-de-lys.vert .lowlight {
  fill: #006700;
}
.fleur-de-lys.vert .highlight {
  fill: #00cd00;
}
.fleur-de-lys.azure .main {
  fill: mediumblue;
}
.fleur-de-lys.azure .lowlight {
  fill: #0000b4;
}
.fleur-de-lys.azure .highlight {
  fill: #1b1bff;
}
.fleur-de-lys.or .main {
  fill: gold;
}
.fleur-de-lys.or .lowlight {
  fill: #e6c200;
}
.fleur-de-lys.or .highlight {
  fill: #ffe34d;
}
.fleur-de-lys.purpure .main {
  fill: blueviolet;
}
.fleur-de-lys.purpure .lowlight {
  fill: #7d1dd6;
}
.fleur-de-lys.purpure .highlight {
  fill: #af6eeb;
}