---
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
  </header>
  {% if page.tags.size != 0 %}
  <section class="tag-list">
    📌
    {% for t in page.tags %}<a class="tag-link" href="/tag/{{ t }}">{{ t }}</a>{% endfor %}
  </section>
  {% endif %}
  {%- if page.anchor_headings == true -%}
    {% assign anchor_headings = site.default_anchor_headings %}
  {%- else -%}
    {% assign anchor_headings = page.anchor_headings %}
  {%- endif -%}
  {%- if anchor_headings -%}
    {% include anchor_headings.html
      html=content
      anchorBody=anchor_headings.anchor_body
      anchorClass=anchor_headings.anchor_class
      beforeHeading=anchor_headings.before_heading
      includeTrailingSpace=anchor_headings.include_trailing_space
    %}
  {%- else -%}
    {{ content }}
  {%- endif -%}
  <footer>
    <p class="post-date">
      ~
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: site.date_format }}
      </time>
      {%- if page.changelog -%} // updated
      <time
        datetime="{{ page.changelog | keys | last | date_to_xmlschema }}"
        itemprop="dateModified"
      >
        {{ page.changelog | keys | last | date: site.date_format }}
      </time>
      {%- endif -%} ~
    </p>
  </footer>
</article>
