---
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
    <p class="post-date">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time  datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
      {%- if page.last_modified_at -%}
        ~ updated
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.last_modified_at | date: site.date_format }}
        </time>
      {%- endif -%}
    </p>
  </header>
  {{ content }}
</article>
