---
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
  </header>
  {%- if page.anchor_headings == true -%}
    {% assign anchor_headings = site.default_anchor_headings %}
  {%- else -%}
    {% assign anchor_headings = page.anchor_headings %}
  {%- endif -%}
  {%- if anchor_headings -%}
    {% include anchor_headings.html 
      html=content 
      anchorBody=anchor_headings.anchor_body
    %}
  {%- else -%}
    {{ content }}
  {%- endif -%}
  <footer>
    <hr />
    <p class="post-date">
      ~
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: site.date_format }}
      </time>
      {%- if page.last_modified_at -%} // updated
      <time
        datetime="{{ page.last_modified_at | date_to_xmlschema }}"
        itemprop="dateModified"
      >
        {{ page.last_modified_at | date: site.date_format }}
      </time>
      {%- endif -%} ~
    </p>
  </footer>
</article>
