---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@import "variables";

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: ($spacing * 2) 0;

  svg:not(:last-child) {
    margin-bottom: $spacing * 2;
  }
}

@media screen and (min-width: $width-mobile) {
  .svg-container {
    flex-direction: row;

    svg:not(:last-child) {
      margin-bottom: 0;
      margin-right: $spacing * 3;
    }
  }
}

.one {
  --layer-color: var(--sol-orange);
}

.two {
  --layer-color: var(--sol-cyan);
}

.three {
  --layer-color: var(--sol-violet);
}

.four {
  --layer-color: var(--sol-magenta);
}

.five {
  --layer-color: var(--sol-violet);
}

.six {
  --layer-color: var(--sol-magenta);
}

span.one,
span.two,
span.three,
span.four,
span.five,
span.six {
  color: var(--layer-color);
}

svg {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six {
    stroke-width: 8px;
    stroke: var(--layer-color);
    fill: transparent;
  }

  .silhouette {
    fill: var(--text-color-faded);
  }
}
