---
# why do I have to put this nonsense header in and break my syntax highlighter
---

@import "variables";

.svg-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

svg {
  .one,
  .two,
  .three,
  .four {
    stroke-width: 6px;
    fill: transparent;
  }

  .one {
    stroke: red;
  }

  .two {
    stroke: green;
  }

  .three {
    stroke: blue;
  }

  .four {
    stroke: yellow;
  }

  .silhouette {
    fill: grey;
  }
}
